<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->
		<!-- FILL THESE IN LATER -->

		<title>Welcome to Liftoff</title>
		<link rel="shortcut icon" href="../static/images/favicon.ico">

		<!-- Bootstrap -->
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/liftoff.css" rel="stylesheet" type="text/css">
		<link href="../static/css/fonts.css" rel="stylesheet" type="text/css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>



	<!-- Notes 


	/Notes -->



	<body>
		<!-- ===================================== -->
		<!--         Login/Register Modal          -->
		<!-- ===================================== -->
		<div class="modal fade" id="loginRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Login/Register</h4>
					</div>
					<div class="modal-body">
						<h1 class="noHead">Login</h1>
						<form role="form">
							<div class="form-group">
								<label class="sr-only" for="emailInput">Email address</label>
								<input type="email" class="form-control" id="emailLogin" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label class="sr-only" for="passwordInput">Password</label>
								<input type="password" class="form-control" id="pwLogin" placeholder="Enter password">
							</div>
							<div class="form-group">
								<div class="col-sm-4">
									<div class="checkbox">
										<label>
											<input type="checkbox"> Remember me
										</label>
									</div>
									<div class="form-group">
										<div class="inlineWithCheckbox"><a href="forgot">Forgot your password?</a></div>
									</div>
								</div>
							</div>
							<br>
							<!-- NEED TO FILL IN INFO FOR DATABASE ACTIONS -->
							<a href="about" class="btn btn-submit">Submit</a>
							<!-- NEED TO FILL IN INFO FOR DATABASE ACTIONS -->
						</form>
						<br>
						<h1>New to Liftoff? Register Here</h1>
						<form role="form">
							<div class="form-group">
								<label class="sr-only" for="emailInput">Email address</label>
								<input type="email" class="form-control" id="emailRegister" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label class="sr-only" for="passwordInput">Password</label>
								<input type="password" class="form-control" id="pwRegister1" placeholder="Enter password">
							</div>
							<div class="form-group">
								<label class="sr-only" for="passwordInput">Re-enter Password</label>
								<input type="password" class="form-control" id="pwRegister2" placeholder="Re-enter password">
							</div>
							<div class="col-md-12">
								<!-- NEED TO FILL IN INFO FOR DATABASE ACTIONS -->
								<a href="about" class="btn btn-submit">Submit</a>
								<!-- NEED TO FILL IN INFO FOR DATABASE ACTIONS -->
							</div>
							<br><br><br>
						</form>
					</div>
				</div>
			</div>
		</div><!-- /Login/Register Modal -->

		<!-- ===================================== -->
		<!--             Navbar Content            -->
		<!-- ===================================== -->
		<div class="container" id="navCont">
			<div class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="hidden-sm hidden-md hidden-lg"> <!-- This text only appears on mobile devices -->
							<a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse">Main Menu</a>
						</div>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="index">Home</a></li>
							<li><a href="about">About</a></li>
							<li><a href="browse">Browse</a></li>
							<li><a href="create">Create</a></li>
							<li><a href="http://z13.invisionfree.com/LiftoffCommunity/" target="_blank">Forums</a></li>
							<li><a href="account">My Account*</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="hidden-sm hidden-xs" href="#" data-toggle="modal" data-target="#loginRegister">Login/Register</a>
								<a class="hidden-md hidden-lg" href="login">Login/Register*</a>
							</li>
							<!-- <li><a href="#">Log Out</a></li> This only displays if the user is logged in -->
							<li class="active"><a href="help">Help</a></li>
						</ul>
				</div>
			</div>
		</div><!-- /Navbar Content -->


		

		<footer>
			<hr class="hr-foot">
			<p>&copy; Liftoff Music Company 2014</p>
			<p><a href="#">Private Policy</a>&nbsp;|&nbsp;<a href="#">Other Things? O_o</a></p>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/testing.js"></script>
		<script src="../static/js/raphael.js"></script>
	</body>
</html>